<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss} [%t] %highlight{%-5level} %logger{3} %msg%n%n"/>
        </Console>
        <RollingFile name="ErrorFile" fileName="logs/error.log" bufferedIO="true" immediateFlush="true"
                     filePattern="logs/$${date:yyyy-MM}/error-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout pattern="%d{HH:mm:ss} [%t] %-5level %logger{3}%msg%n"/>
            <Policies>
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="20 MB" />
                <TimeBasedTriggeringPolicy />
            </Policies>
        </RollingFile>
        <RollingFile name="FatalFile" fileName="logs/fatal.log" bufferedIO="true" immediateFlush="true"
                     filePattern="logs/$${date:yyyy-MM}/fatal-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout pattern="%d{HH:mm:ss} [%t] %-5level %logger{3}%msg%n"/>
            <Policies>
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="20 MB" />
                <TimeBasedTriggeringPolicy />
            </Policies>
        </RollingFile>
        <RollingFile name="WarnFile" fileName="logs/warn.log" bufferedIO="true" immediateFlush="true"
                     filePattern="logs/$${date:yyyy-MM}/warn-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout pattern="%d{HH:mm:ss} [%t] %-5level %logger{3}%msg%n"/>
            <Policies>
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="20 MB" />
                <TimeBasedTriggeringPolicy />
            </Policies>
        </RollingFile>
        <RollingFile name="InfoFile" fileName="logs/info.log" bufferedIO="true" immediateFlush="true"
                     filePattern="logs/$${date:yyyy-MM}/info-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout pattern="%d{HH:mm:ss} [%t] %-5level %logger{3}%msg%n"/>
            <Policies>
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="20 MB" />
                <TimeBasedTriggeringPolicy />
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="all">
            <AppenderRef ref="Console" level="error"/>
            <AppenderRef ref="ErrorFile" level="error" />
            <AppenderRef ref="FatalFile" level="fatal" />
            <AppenderRef ref="WarnFile" level="warn" />
            <AppenderRef ref="InfoFile" level="info" />
        </Root>
    </Loggers>
</Configuration>